@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    0101 Generic Street Road<br />
    City, WA 01010<br />
    Phone:
    555.555.0101
</address>

<address>
    <strong>24/4 Customer Support:</strong>   <a href="">Support@InsuranceCompanyInc.com</a><br />
</address>