<div class="jumbotron">
    <h1>Insurance Company, Inc.</h1>
    <p class="lead">At Insurance Company, Inc., we take your money—seriously. Click the button below to get your "free" car insurance quote today!</p>
    <p><a href="/Insurees/Create" class="btn btn-warning btn-lg">Get a Quote &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/Content/Images/carcrash.jpg" class="img-rounded" alt="Ouch">
    </div>
    <div class="col-md-6">
        <h2>How it works</h2>
        <p>
            We're just going to ask a few basic questions. Within 5-40 business days of submitting your very personal information, we will review and send you your "free" quote.
        </p>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-6">
        <h2>Don't take any chances</h2>
        <p>With our MEGA Plan&trade;, you will probably be covered from just about anything, hopefully.</p>
    </div>
    <div class="col-md-6">
        <h2>Questions?</h2>
        <p>If you have any questions, visit our <a href="/Home/Contact">contact</a> page to get in touch with us! One of our Robots will respond as soon as humanly possible.</p>
    </div>
</div>